# Se debe crear un archivo .env en este directorio con las siguientes 
# variables de entorno

PORT=3000
PGUSER=postgres
PGPASSWORD=1956
PGHOST=localhost
PGPORT=5432
PGDATABASE=galeria_arte
JWT_SECRET=un_secreto_seguro

