.product-detail {
  max-width: 400px;
}

.product-detail-img {
  max-width: 576px;
  max-height: 80vh;
  border-radius: 2px;
}

.product-detail-img:hover {
  transform: scale(1.05);
  transition: all ease-in 200ms;
}
